".source.js":

    'Backdrop':
      'prefix':'ionic-js-backdrop'
      'body' : """
      function MyController($scope, $ionicBackdrop, $timeout) {
        //Show a backdrop for one second
        $scope.action = function() {
          $ionicBackdrop.retain();
          $timeout(function() {
            $ionicBackdrop.release();
          }, 1000);
        };
      }
      """
