".text.html":

    'Side Menu':
      'prefix':'ionic-side-menus'
      'body' : """
      <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content ng-controller="yourController">
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
        </ion-side-menu>

        <!-- Right menu -->
        <ion-side-menu side="right">
        </ion-side-menu>
      </ion-side-menus>
      """
